<section>
  <div>
    <div class='team'></div>
    <div class='boxHead'>R</div>
    <div class='boxHead'>H</div>
    <div class='boxHead'>E</div>
  </div>
  <div>
    <div class='team'><h4 [routerLink]='["/", boxScore?.game?.away?.id]'>{{ boxScore?.game?.away?.market }} {{ boxScore?.game?.away?.name }}</h4> ({{ boxScore?.game?.away?.win }} - {{ boxScore?.game?.away?.loss }})</div>
    <div class='box'>{{ boxScore?.game?.away?.runs }}</div>
    <div class='box'>{{ boxScore?.game?.away?.hits }}</div>
    <div class='box'>{{ boxScore?.game?.away?.errors }}</div>
  </div>

  <div>
    <div class='team'><h4 [routerLink]='["/", boxScore?.game?.home?.id]'>{{ boxScore?.game?.home?.market }} {{ boxScore?.game?.home?.name }}</h4> ({{ boxScore?.game?.home?.win }} - {{ boxScore?.game?.home?.loss }})</div>
    <div class='box'>{{ boxScore?.game?.home?.runs }}</div>
    <div class='box'>{{ boxScore?.game?.home?.hits }}</div>
    <div class='box'>{{ boxScore?.game?.home?.errors }}</div>
  </div>

</section>
