<section>
  <h3>{{ weekDay }}</h3>
  <div>
    <div *ngFor="let game of games?.league?.games" id="box">
      <table class="table table-borderless table-sm" [routerLink]='["boxscore", game?.game?.id]'>
        <thead>
          <tr>
            <td></td>
            <td *ngIf="game?.game?.outcome?.current_inning_half === 'B'">Bot {{ game?.game?.outcome?.current_inning }}</td>
            <td *ngIf="game?.game?.outcome?.current_inning_half === 'T'">Top {{ game?.game?.outcome?.current_inning }}</td>
            <td *ngIf="game?.game?.final">Final</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>{{ game?.game?.away?.market }} {{ game?.game?.away?.name }}</p> <p>{{ game?.game?.home?.market }} {{ game?.game?.home?.name }}</p></td>
            <td><p>{{ game?.game?.away?.runs }}</p> <p>{{ game?.game?.home?.runs }}</p></td>
          </tr>
        </tbody>
      </table>
      <!-- <p>{{ game?.game?.away?.market }} {{ game?.game?.away?.name }}</p><p>{{ game?.game?.away?.runs }}</p>
      <p>{{ game?.game?.home?.market }} {{ game?.game?.home?.name }}</p><p>{{ game?.game?.home?.runs }}</p> -->
    </div>
  </div>
</section>
