<section>
  <div *ngFor='let i of data.league?.season?.leagues'>
    <h4> {{ i?.name }} </h4>
    <div *ngFor='let j of i.divisions'>
      <table class="table table-hover table-sm">
        <thead class="table-dark">
          <tr class="d-flex">
            <td class="col-4">{{ j?.name }}</td>
            <td class="col-2">Wins</td>
            <td class="col-2">Losses</td>
            <td class="col-2">Games Back</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let k of j.teams' [routerLink]='[k?.id]' class="d-flex">
            <td class="col-sm-4">{{ k?.market }} {{ k?.name }}</td>
            <td class="col-sm-2">{{ k?.win }}</td>
            <td class="col-sm-2">{{ k?.loss }}</td>
            <td class="col-sm-2">{{ k?.games_back }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
